.loginLink {
  text-align: center;
  margin: 15px 0px;
}
.loginLink a {
  color: black;
  text-decoration: none;
}
.loginLink a span {
  color: blue;
}
.loginLink a:hover span {
  text-decoration: underline;
}
