.signupLink {
  text-align: center;
  margin: 15px 0px;
}
.signupLink a {
  color: black;
  text-decoration: none;
}
.signupLink a span {
  color: blue;
}
.signupLink a:hover span {
  text-decoration: underline;
}
